body {
    background-color: #888888;
}

header {
    color: #660066;
    width: 99%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1%;
}

.grid-item {
    vertical-align: center;
}


