body {
    background-color: #888888;
}

header {
    color: #660066;
    width: 99%;
}

textarea {
    border-radius: 4px;
    height: 1em;
    resize: vertical;
}

.container {
    border-radius: 6px;
    margin: 10px 3px 10px 3px;
    padding: 10px 3px 10px 3px;
    line-height: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1%;
}

.grid-item {
    vertical-align: center;
}



